<div>
    <ul>
        {{#each list}}
        <li>
            <button {{#if @last}}disabled{{/if}}>{{name}} - {{@index}} </button>
        </li>
        {{/each}}
        {{#each user}}
        <li>
            {{#if value}}{{@key}} - {{this.value}}{{else}}{{text}}{{/if}}
        </li>
        {{/each}}
    </ul>
</div>