<main class="p-5">
    {{> shopheader}}

    <section class="mt-5">
        <h2>{{header}}</h2>
        <div class="row g-2 mt-5">
            <div class="col-8">
                <div>
                    {{#with contacts_data}}
                    <h4 class="mb-3">{{title}}</h4>
                    {{#each buttons}}
                    {{#if isPrimary}}
                    <button class="btn btn-warning">{{text}}</button>
                    {{/if}}
                    {{#if isOutline}}
                    <button class="btn btn-outline-warning">{{text}}</button>
                    {{/if}}
                    {{/each}}

                    {{#with form}}
                    <div class="row g-2 mt-2">
                        {{#each input}}
                        <div class="col-6">
                            <label class="form-label">{{label}}</label>
                            <input class="form-control" placeholder="{{placeholder}}">
                            <div class="form-text">{{caption}}</div>
                        </div>
                        {{/each}}
                    </div>

                    <hr class="my-4">

                    {{#each switch}}
                    <div class="form-check form-switch mb-3">
                        <label class="form-check-label">{{text}}</label>
                        <input type="checkbox" class="form-check-input selected" {{#if isActive}}checked{{/if}}>
                    </div>
                    {{/each}}
                    {{/with}}

                    {{/with}}
                </div>

                <hr class="my-4">

                <div>
                    {{#with delivery}}
                    <h4 class="mb-3">{{title}}</h4>

                    <div class="card">
                        <div class="row g-2 py-2 px-3">
                            {{#each select}}
                            <div class="col-6">
                                <label class="form-label">{{label}}</label>
                                <select class="form-select">
                                    <option selected>{{placeholder}}</option>
                                    {{#each options}}
                                    <option value="{{value}}">{{text}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="row g-2 mt-2">
                        {{#each delivery_type}}
                        <div class="col-7">
                            <div class="form-radio">
                                <input type="radio" class="form-radio-input" {{#if @first}}checked{{/if}}>
                                <label class="form-radio-label">{{type}}</label>
                            </div>
                        </div>
                        <div class="col-5 text-end">{{value}}</div>
                        {{/each}}
                    </div>

                    <hr class="my-4">

                    <div>
                        {{#with payment}}
                        <h4 class="mb-3">{{title}}</h4>

                        {{#each list}}
                        <div class="form-radio {{#unless @first}}mt-2{{/unless}}">
                            <input type="radio" class="form-radio-input" {{#if @first}}checked{{/if}}>
                            <label class="form-radio-label">{{type}}</label>
                            {{#if description}}
                            <div class="form-text">{{description}}</div>
                            {{/if}}
                        </div>
                        {{/each}}
                        {{/with}}
                    </div>

                    <hr class="my-4">

                    <div class="row g-2">
                        {{#each contact}}
                        {{#if @first}}
                        <h4 class="mb-3">{{this}}</h4>
                        {{else}}
                        <div class="col-6">
                            <label class="form-label">{{label}}</label>
                            <input class="form-control" placeholder="{{placeholder}}">
                            <div class="form-text">{{caption}}</div>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>

                    <hr class="my-4">

                    <div>
                        {{#with coment}}
                        <div>
                            <label class="form-label">{{label}}</label>
                            <input class="form-control" placeholder="{{placeholder}}">
                        </div>
                        {{/with}}
                    </div>

                    {{/with}}
                </div>

                <hr class="my-4">

                <div>
                    {{#with coupon}}
                    <h4 class="mb-3">{{title}}</h4>
                    <div>
                        {{#each select}}
                        <div {{#unless @first}}class="mt-2" {{/unless}}>
                            <label class="form-label">{{label}}</label>
                            <select class="form-select {{#if @first}}form-select-lg {{else}}form-select-sm {{/if}}">
                                <option selected>{{placeholder}}</option>
                                {{#each options}}
                                <option value="{{value}}">{{text}}</option>
                                {{/each}}
                            </select>
                        </div>
                        {{/each}}
                    </div>
                    <div class="mt-3">
                        {{#each add}}
                        <div {{#unless @first}}class="mt-2" {{/unless}}>
                            <label class="form-label">{{label}}</label>
                            <input type="text"
                                class="form-control {{#if @first}}form-control-lg {{else}}form-controlt-sm {{/if}}"
                                placeholder="{{placeholder}}">
                            <div class="form-text">{{caption}}</div>
                        </div>
                        {{/each}}
                    </div>
                    {{/with}}
                </div>

                <hr class="my-4">

                <div>
                    {{#with quiz}}
                    <h3 class="mb-3">{{title}}</h3>
                    {{#with preference}}
                    <div>
                        <label class="form-label">{{title}}</label>
                        {{#each options}}
                        <div class="form-radio">
                            <input type="radio" class="form-radio-input" {{#if @first}}checked{{/if}}>
                            <label class="form-radio-label">{{this}}</label>
                        </div>
                        {{/each}}
                    </div>
                    {{/with}}

                    {{#with your_expirience}}
                    <div class="mt-3">

                        <label class="form-label">{{label}}</label>
                        <input class="form-control">

                    </div>
                    {{/with}}

                    {{#with purchase_frequency}}
                    <div class="mt-3">
                        <label class="form-label">{{label}}</label>
                        <select class="form-select">
                            <option selected>{{placeholder}}</option>
                            {{#each options}}
                            <option value="{{value}}">{{text}}</option>
                            {{/each}}
                        </select>

                    </div>
                    {{/with}}

                    {{#with factors}}
                    <div class="mt-3">
                        <label class="form-label">{{title}}</label>
                        {{#each options}}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label">{{this}}</label>
                        </div>
                        {{/each}}
                    </div>
                    {{/with}}

                    {{/with}}
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="row g-2 py-3 px-2">
                        {{#each action_block}}
                        <div class="col-12">
                            {{#if isPrimary}}
                            <button class="btn btn-success">{{text}}</button>
                            {{/if}}
                            {{#if isDanger}}
                            <button class="btn btn-danger">{{text}}</button>
                            {{/if}}
                            {{#if isInfo}}
                            <button class="btn btn-info">{{text}}</button>
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="p-2">
                        {{#with total}}
                        <h4 class="mb-2">{{title}}</h4>
                        {{#each item_list}}
                        <div>
                            {{name}}: {{price}}
                        </div>
                        {{/each}}

                        <hr class="my-2">

                        {{#each additional_info}}
                        <div>
                            {{text}}: {{value}}
                        </div>
                        {{/each}}

                        <hr class="my-2">

                        {{#with total_price}}
                        <div>
                            {{text}}: {{value}}
                        </div>
                        {{/with}}

                        <hr class="my-2">

                        {{#each button}}
                        {{#if isPrimary}}
                        <button class="btn btn-primary">{{text}}</button>
                        {{/if}}
                        {{#if isOutline}}
                        <button class="btn btn-outline-primary {{#unless @first}}mt-2{{/unless}}">{{text}}</button>
                        {{/if}}
                        {{/each}}
                        {{/with}}
                    </div>
                </div>
            </div>
    </section>
    <hr class="mt-5 mb-2">

    {{> shopfooter}}
</main>