<main class="p-5">
    {{> shopheader}}

    <section class="mt-5">
        <h2>{{header}}</h2>
    </section>

    <section class="mt-5">
        {{#with purchase}}
        <div class="nav nav-tabs">
            {{#each tabs}}
            <div class="nav-item">
                <a class="nav-link {{#if @first}}active{{/if}}">{{this}}</a>
            </div>
            {{/each}}
        </div>

        <div>
            {{#with actionBlock}}
            <div class="mt-3 row g-2">
                <div class="col-4">
                    <input class="form-control" placeholder="{{input.placeholder}}">
                </div>
                <div class="col-7">
                    {{#each buttons}}
                    {{#if isSuccess}}
                    <a href="{{link}}" class="btn btn-success me-1">{{text}}</a>
                    {{/if}}
                    {{#if isOutline}}
                    <a href="{{link}}" class="btn btn-outline-success me-1">{{text}}</a>
                    {{/if}}
                    {{#if isDanger}}
                    <a href="{{link}}" class="btn btn-outline-danger me-1">{{text}}</a>
                    {{/if}}
                    {{/each}}
                </div>
            </div>

            {{/with}}
        </div>

        <hr class="my-3">

        <div>
            {{#each itemList}}
            {{> purchaseItem}}
            {{/each}}
        </div>
        {{/with}}
    </section>

    <hr class="my-5">

    <section>
        {{#with userInfo}}
        {{> title data=title big=false}}

        <div class="card mt-5 py-2 px-3">
            {{#with profileData}}
            <h4>{{title}}</h4>
            <div class="card mt-3 py-1 px-2">
                <div class="row">
                    {{#each fullName}}
                    <div class="col-4">
                        <span class="text-muted">{{title}}</span>
                        <p class="text-dark mb-0">{{value}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="card mt-3 py-1 px-2">
                <div class="row">
                    {{#each otherInfo}}
                    <div class="col-4">
                        <span class="text-muted">{{this.title}}</span>
                        <p class="text-dark mb-0">{{this.value}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/with}}
            <div class="card mt-3 p-2">
                <div class="row">
                    {{#each buttons}}
                    <div class="col-4">
                        {{#if isPrimary}}
                        <a class="btn btn-primary btn-sm" href="{{link}}">{{text}}</a>
                        {{/if}}
                        {{#if isSecondary}}
                        <a class="btn btn-outline-secondary btn-sm" href="{{link}}">{{text}}</a>
                        {{/if}}
                        {{#if isDanger}}
                        <a class="btn btn-outline-danger btn-sm" href="{{link}}">{{text}}</a>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="card mt-2 py-2 px-3">
            {{#with recipients}}
            <h4>{{title}}</h4>

            <div class="row g-2">
                {{#each users}}
                <div class="col-4">
                    <div class="card mt-3 py-1 px-2">
                        <p class="text-dark mb-0">{{name}}</p>
                        <span class="text-muted mb-2">{{phone}}</span>
                        {{#with button}}
                        <div>
                            <a class="btn btn-primary btn-sm" href="{{link}}">{{text}}</a>
                        </div>
                        {{/with}}
                    </div>
                </div>
                {{/each}}
            </div>

            {{/with}}
        </div>

        <div class="card mt-2 py-2 px-3">
            {{#with contacts}}
            <h4>{{title}}</h4>

            <div class="row g-2">
                {{#each contactData}}
                <div class="col-4">
                    <div class="card mt-3 py-1 px-2">
                        <p class="text-dark mb-2">{{title}}</p>
                        <span class="text-muted mb-2">{{value}}</span>
                    </div>
                </div>
                {{/each}}
                <div class="card mt-3 p-2">
                    <div class="row">
                        {{#each buttons}}
                        <div class="col-4">
                            {{#if isPrimary}}
                            <a class="btn btn-primary btn-sm" href="{{link}}">{{text}}</a>
                            {{/if}}
                            {{#if isSecondary}}
                            <a class="btn btn-outline-secondary btn-sm" href="{{link}}">{{text}}</a>
                            {{/if}}
                            {{#if isDanger}}
                            <a class="btn btn-outline-danger btn-sm" href="{{link}}">{{text}}</a>
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            {{/with}}
        </div>

        {{/with}}
    </section>

    <hr class="my-5">

    {{> shopfooter}}
</main>