<main class="p-5">
    {{> shopheader}}

    <section class=" mt-5">
        {{#with newsBlock}}
        <h2 class="text-center mb-4">{{title}}</h2>
        <div class="row gy-4 gx-2">
            {{#each cards}}
            <div class="col-3">
                <div class="card text-bg-dark">
                    <div class="card-header">
                        {{title}}
                        {{#if isNew}}
                        <span class="badge text-bg-success rounded-pill">New</span>
                        {{/if}}
                        {{#if isTop}}
                        <span class="badge text-bg-danger rounded-pill">Top</span>
                        {{/if}}
                    </div>
                    <div class="card-body">
                        {{description}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>

    <hr class="my-5">

    <section>
        {{#with goodsBlock}}
        <div class="row g-4">
            <div class="col-12">
                <div class="nav nav-tabs">
                    {{#each tabs}}
                    <div class="nav-item">
                        <a class="nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row gy-4 gx-2 mt-5">
            {{#each cards}}
            <div class="col-4">
                {{> shopcard}}
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>

    <hr class="my-5">

    <section>
        {{#with subscribe}}
        <div class="card text-bg-dark p-2">
            <div class="row">
                <div class="col-7">
                    <h2>{{header}}</h2>
                    <p class="mb-0 mt-2">{{description}}</p>
                </div>
                <div class="col-5 text-end my-3">
                    {{#each buttons}}
                    <a class="btn btn-primary" href="{{link}}">{{text}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/with}}
    </section>

    <hr class="my-5">

    {{> shopaction}}

    <hr class="mt-5 mb-2">

    {{> shopfooter}}
</main>