<main>
    {{#with page_header}}
    <header>
        <h1 class="text-center">{{title}}</h1>
        <br>
        <p class="text-center text-uppercase">{{description}}</p>
    </header>
    {{/with}}
    {{#with section}}
    {{#with about_us}}
    <div class="card">
        <div class="card-body">
            {{#with title_list}}
            <div class="text-end display-6">{{main}}</div>
            <br>
            <h2 class="text-end">{{sub}}</h2>
            {{/with}}
            <br>
            {{#with button}}
            <button class="btn btn-outline-info">{{text}}</button>
            {{/with}}
        </div>
    </div>
    {{/with}}

    <br>
    <br>

    {{#with advantage}}
    <div class="card">
        <div class="card-body">
            <div class="display-5 text-muted">{{title}}</div>
            <br>
            {{#with efficiency}}
            <div class="card">
                <div class="card-body">
                    <div class="display-4 text-muted">{{title}}</div>
                    <br>
                    <h6>{{sub_title}}</h6>
                    <br>
                    <p>{{description}}</p>
                    <br>
                    <button class="btn btn-outline-warning">{{button}}</button></button>
                </div>
            </div>
            {{/with}}
            <br>
            {{#with innovation}}
            <div class="card">
                <div class="card-body">
                    <div class="text-center display-4 text-muted">{{title}}</div>
                    <br>
                    <h6 class="text-center">{{sub_title}}</h6>
                    <br>
                    <p class="text-center" v>{{description}}</p>
                    <br>
                    <button class="btn btn-outline-warning">{{button}}</button></button>
                </div>
            </div>
            {{/with}}
            <br>
            {{#with collaboration}}
            <div class="card">
                <div class="card-body">
                    <div class="text-end display-4 text-muted">{{title}}</div>
                    <br>
                    <h6 class="text-end">{{sub_title}}</h6>
                    <br>
                    <p class="text-end">{{description}}</p>
                    <br>
                    <button class="btn btn-outline-warning">{{button}}</button></button>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
    {{/with}}

    <br>
    <br>

    {{#with agreement}}
    <div class="card">
        <div class="card-body">
            <div class="display-5">{{title}}</div>
            <br>
            {{#with info}}
            <div class="card">
                <div class="card-body">
                    <h5>{{sub_title}}</h5>
                    <br>
                    {{#with detail}}
                    <div class="card">
                        <div class="card-body">
                            <p>{{text}}</p>
                            <br>
                            <button class="btn btn-success">{{button}}</button></button>
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
            {{/with}}
        </div>
    </div>
    {{/with}}

    {{/with}}
</main>