{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>
        <section>
            {{> title data="Work history" big=true }}
            <div>
                <ul>
                    {{#each works}}
                    <li>
                        <div>{{position}}</div>

                        <div class="mt-2">
                            {{duration.from}} -
                            {{#if duration.to}}
                            {{duration.to}}
                            {{else}}
                            (поточна робота)
                            {{/if}}
                        </div>

                        <div class="mt-2">
                            {{#if company.url}}
                            {{> link text=company.name href=company.url blank=true noLine=true}}
                            {{else}}
                            <b>{{company.name}}</b>
                            {{/if}}
                        </div>

                        <div class="mt-3 card">
                            <div class="card-header">
                                <strong>Projects ({{projectAmount}})</strong>
                            </div>

                            <div class="card-body">

                                <ul>
                                    {{#each projects}}
                                    <li>
                                        <div>{{> link text=name href=url blank=true noLine=true}}</div>

                                        <div class="mt-2">
                                            <p>{{about}}</p>
                                        </div>

                                        <div class="mt-2"><em>Project stacks ({{stackAmount}})</em></div>

                                        <div class="mt-2">
                                            <ul>
                                                {{#each stacks}}
                                                <li>{{name}}</li>
                                                {{/each}}
                                            </ul>
                                        </div>

                                        <div class="mt-2 card"><em>Project awards ({{awardsAmount}})</em></div>

                                        <div class="mt-2">
                                            <ul>
                                                {{#each awards}}
                                                <li>{{name}}</li>
                                                {{/each}}
                                            </ul>
                                        </div>

                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>

                    </li>
                    <br>
                    {{/each}}
                </ul>
            </div>
        </section>
    </main>
    {{/with}}

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}